<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>WBC College</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<header>
		<div class="container">
			<h1>WBC College</h1>
			<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="navigation">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="Home.html">home</a></li>
      <li><a href="contact">contact</a></li>
    </ul>
    <button class="btn btn-danger navbar-btn">Button</button>
  </div>
</nav>
		</div>
	</header>
	
	<section id="about" class="content-section">
		<div class="container">
			<h2>About WBC College</h2>
			Established in 2011 WBC college a renowned institution of higher learning. Institute offers 5 courses which are Degree in Full Time mode. Overall, Institute has diversified 4 UG courses and 1 PG course </p>
			<p> Over the period, WBC  college has gained expertize through its trained and experienced faculty in the fields of Physics, English.</p>
		</div>
	</section>

	<section id="facilities" class="content-section bg-light">
		<div class="container">
			<h1>Facilities provided</h1>
			<p>our college provides library,collection includes 16,713 books, both for borrowing and reference,well equiped classrooms that provides immersive learning</p>
			<p>The college has a beautiful ambiance in sylvan surroundings. The college has an excellent academic record as students secure ranks in the university examination. The alumni of the college are serving at several institutions all over the country and abroad. Many are dynamic leaders of their institutions. Many are working in other government sectors.</p>
		</div>
	</section>

	<section id="admission" class="content-section bg-light">
		<div class="container">
			<h2>Admission proess</h2>
			<p>All the admissions are subject to the approval of the college.</p>
     		<p>The college offers instructions in both English and French. Total intake is 100 seats respectively. The Central Admission Cell of the State under the Commissioner of Public Instruction shall monitor the admission to the student with scholarships.</p>
		</div>
	</section>

	<section id="events" class="content-section">
		<div class="container">
			<h2>latest events</h2>
			<p>Explore the vibrant atmosphere of our college through a diverse range of events that make campus life truly unforgettable. Recently, the Computer Science Club hosted an exhilarating coding competition, showcasing the brilliant programming skills of our students. Our campus came alive with the beats of music, rhythm of dance, and the magic of drama during our cultural festival, a testament to the rich cultural diversity within our student body. The Environmental Science department organized a stimulating seminar, urging us to think about sustainable practices and the importance of environmental conservation. Wrapping up the week was a thrilling sports extravaganza where departments clashed in friendly competition, fostering a sense of teamwork and sportsmanship. Join us in celebrating these events that not only entertain but also strengthen the bonds of our college community. </p>
		</div>
	</section>

	<section id="contact" class="content-section bg-light">
		<div class="container">
			<h2>Contact Us</h2>
			<p>Reach out to us for more information we are happy to assist you in any way possible</p>
			<address>
				WBC college<br>
				123 College Avenue<br>
           		Citytown, State 12345<br>
				Phone:+121 456-5894<br>
				Email:WBC@gmail.com
			</address>
		</div>
	</section>

	<footer>
		<div class="container">
			<p>Copyright @ 2022  Designed and developed by karthik kariappa C M </p>
		</div>
	</footer>
</body>
</html>