<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
	<header class="bg-primary text-white text-center py-5">
		<h1>WBC College</h1>
		
		<nav class="navbar navbar-expand-lg navbar-dark">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"aria-label="Toggle navigation ">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"><a class="nav-link"href="#about">About</a></li>
						<li class="nav-item"><a class="nav-link"href="#facilities">contact</a></li>
						<li class="nav-item"><a class="nav-link"href="#programs">Activities</a></li>
						<li class="nav-item"><a class="nav-link"href="#admissions">Exam</a></li>
						<li class="nav-item"><a class="nav-link"href="#events">Events</a></li>
						<li class="nav-item"><a class="nav-link"href="#contacts">Gallary</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<br>
	<br>
	<div class="text-center">
		<img src="{{url_for('static', filename='Image/HD.jpg')}}" class="image/"  height="50%"width="50%">
	</div>
<br>
<br>
	<h1 class="text-center">welcome WBC College</h1>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<section id="about" class="content-section">
		<div class="container">
			<h2 class="text-center">About Us</h2>
			<br>
			<br>
			<br>
			<p>WBC college a renowned institution of higher learning. Institute offers 5 courses which are Degree in Full Time mode. Overall, Institute has diversified 4 UG courses and 1 PG course </p>
			<p> Over the period, WBC has gained expertize through its trained and experienced faculty in the fields of Physics, English.</p>
			<br>
			<br>
			<br>
			<div class="text-center">
				<img src="{{url_for('static', filename='Image/KS.jpg')}}" class="image/">
			</div>
		</div>
	</section>
	
	<section id="facilities" class="content-section py-5">
		<div class="container">
			<h2 class="text-center">Facilities</h2>
			<p>T<p>our college provides library,collection includes 16,713 books, both for borrowing and reference,well equiped classrooms that provides immersive learning</p>
	</section>

	<section id="programs" class="content-section bg-lightp py-5">
		<div class="container">
			<h2 class="text-center">Academic Programs</h2>
			<ul>
				<li>Bachelor's Degree in Computer Application</li>
				<li>Bachelor's Degree in commerce</li>
				<li>Bachelor's Degree in Business Administration</li>
				<li>Bachelor's Degree in Science</li>
				<li>Masters Degree in Computer Application</li>
			</ul>
		</div>
	</section>

	<section id="admission" class="content-section py-5">
		<div class="container">
			<h2 class="text-center">Admission</h2>
			<p>Explore the admission process to start a wonderful journey of learning at WBC college</p>
			<p>All the admissions are subject to the approval of the college.</p>
     		<p>The college offers instructions in both English and French. Total intake is 100 seats respectively. The Central Admission Cell of the State under the Commissioner of Public Instruction shall monitor the admission to the student with scholarships.</p>
		</div>
	</section>

	<section id="events" class="content-section bg-light py-5">
		<div class="container">
			<h2 class="text-center">Events</h2>
			<p>stay updated on what are the events hapening at WBC college...</p>
			<p>Explore the vibrant atmosphere of our college through a diverse range of events that make campus life truly unforgettable. Recently, the Computer Science Club hosted an exhilarating coding competition, showcasing the brilliant programming skills of our students. Our campus came alive with the beats of music, rhythm of dance, and the magic of drama during our cultural festival, a testament to the rich cultural diversity within our student body. The Environmental Science department organized a stimulating seminar, urging us to think about sustainable practices and the importance of environmental conservation. Wrapping up the week was a thrilling sports extravaganza where departments clashed in friendly competition, fostering a sense of teamwork and sportsmanship. Join us in celebrating these events that not only entertain but also strengthen the bonds of our college community. </p>
		</div>
	</section>

	<section id="contact" class="content-section bg-light py-5">
		<div class="container">
			<h2 class="text-center">Contact Info</h2>
			<p>reach out to us for more information...</p>
			<address>
				WBC<br>
				12555 College prakash road<br>
           		Citytown, State 12345<br>
				Phone:+121 456-5894<br>
				Email:WBC@gmail.com
			</address>
		</div>
	</section>

	<footer class="bg-dark text-white text-center py-3">
		<p>Copyright @ 2022  Designed and developed by karthik kariappa C M</p>
	</footer>
</body>
</html>